.free{

    &__slider{}
    &__swiper{
        &-item{
            width: 182px;
            margin-left: 30px;
        }
        &-pic{
            // display: none;
            width: 100%;
            position: relative;
        }
        &-cover{
            // width: 100%;
            // height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,.4);
            &-txt{
                position: absolute;
                top: .5rem;
                right: 1rem;
                background: rgba(1, 33, 6, 0.6);
                padding:4px 7px 4px 7px;

                i{
                    padding: 1.75px 3px 2px 3.5px;
                    font-size: 7px;
                }
            }
   
        }
    }

}
