
.header{
    @include responsive(laptop){
        display: none;
        // color: red;
    }

    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(5px);
    z-index: 100;
    &__info{
    }
    &__content{
        position: relative;
        padding: 0 40px;
    }
    &__navbar{
        &-logo{
            width: 80px;
            height: 25px;
        }
        li{
            a{
                :hover {
                    color: $yellow-filimo;
                    transition: all 200ms ease-out;
            }
            }

        }
    }
    &__linebetween{
        width:1px;
        height: 3rem;
        background-color: rgb(203, 203, 203);
    }
}
.play{
    border: 2px solid white;
    padding: .1rem .2rem 0 .2rem;
    border-radius: .2rem;
    font-size: .65rem;
    max-width: 16px;
}
.headerv2{
    display: none;
    @include responsive(laptop){
        display:block;
    }

    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(5px);
    z-index: 100;
    &__logo{
        width: 75px;
        height: 25px;
    }
    &__navbar{
        @include responsive(tablet){
            width: 100%;
            overflow-x: auto;
            white-space: nowrap;
            overflow-y: hidden;
        }
    }
    
}
