@font-face {
    font-family: iransanse;
    font-weight: normal;
    src:
    url(../../public/fonts/font-iransans/Project/fonts/eot/IRANSansX-Regular.eot?#iefix) format(eot),
    url(../../public/fonts/font-iransans/Project/fonts/ttf/IRANSansX-Regular.ttf) format(ttf), 
    url(../../public/fonts/font-iransans/Project/fonts/woff/IRANSansX-Regular.woff) format(woff)
    ;
}
@font-face {
    font-family: iransanse;
    font-weight: 500;
    src:
    url(../../public/fonts/font-iransans/Project/fonts/eot/IRANSansX-Medium.eot?#iefix) format(eot),
    url(../../public/fonts/font-iransans/Project/fonts/ttf/IRANSansX-Medium.ttf) format(ttf),
    url(../../public/fonts/font-iransans/Project/fonts/woff/IRANSansX-Medium.woff) format(woff),
    ;
}
@font-face {
    font-family: iransanse;
    font-weight: 700 ;
    src:
    url(../../public/fonts/font-iransans/Project/fonts/eot/IRANSansX-Bold.eot?#iefix) format(eot),
    url(../../public/fonts/font-iransans/Project/fonts/ttf/IRANSansX-Bold.ttf) format(ttf),
    url(../../public/fonts/font-iransans/Project/fonts/woff/IRANSansX-Bold.woff) format(woff),
    ;
}